<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/apropos.css">
    <title>Portfolio - A Propos</title>
</head>
<header>
    <div class="nav">
        <ul>
            <li id="Accueil" onclick="window.location.href='index.html'">• Accueil</li>
            <li id="Propos" onclick="window.location.href='apropos.html'">• A Propos</li>
            <li id="Experiences" onclick="window.location.href='experiences.html'">• Expériences</li>
        </ul>
    </div>
</header>
<body>
    <div class="code-block">
        <pre><code>Genre :     Homme
Age :       19ans
BTS:        SIO 1ère Année
Alternance: Société Générale</code></pre>
    </div>
    
    <footer>
        <div class="footer">
            <h1><strong>© 2024 - BLAS Guillaume BTS SIO</strong></h1>
        </div>
    </footer>
</body>
</html>