/* Main */
html{
    background-color: #282A36;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div: NavBar */

.nav{
    background-color: #FFAC2F;
    position: fixed;
    width: 100%;
    top: 0;
    height: 65px;
    text-align: center;
    left: 0;
    -webkit-box-shadow: 15px 10px 10px -3px #000000; 
    box-shadow: 15px 10px 10px -3px #000000;
}

    .nav ul{
        height: inherit;
        position: relative;
        margin-right: 10px;
    }

        .nav ul li{
            display: inline;
            height: inherit;
            position: inherit;
            padding: 0.5px;
            line-height: 2;
            color: #282A36;
            margin: 10%;
        }


            .nav ul li:hover{
                color: #ff8800;
                cursor: pointer;
                text-decoration: underline;
            }
        
/* Div: Expériences */

.Experiences{
    background-color: #282A36;
    position: relative;
    height: 100px;
    width: 80%;
    padding: 150px;
    text-align: center;
    margin-top: 125px;
    color: #ffffff;
}
    
    .Experiences .BNP{
        position: absolute;
        width: 50%;
        height: 100%;
        transform: translateY(-37.5%);
        left: 0;
        
    }

    .Experiences .SG{
        position: absolute;
        width: 50%;
        height: 100%;
        transform: translateY(-37.5%);
        right: 0;
    }

        .BNP .logo-bnp{
            width: 7.5%;
            transform: translateX(-450%);
        }

        .SG .logo{
            width: 7.5%;
        }

        .BNP .Titre{
            transform: translateY(-20%);
            align-items: center;
            text-align: center;
        }

        .SG .Titre{
            transform: translateY(-20%);
            align-items: center;
            text-align: center;
        }

        .BNP .Duree{
            transform: translateY(200%);
        }

        .SG .material-symbols-outlined{
            transform: translateY(30%);
        }
/* Div: Footer */

.footer{
    background-color: #FFAC2F;
    position: fixed;
    padding: 10px;
    width: auto;
    bottom: 0;
    right: 0;
    -webkit-box-shadow: 15px 10px 10px -3px #000000; 
    box-shadow: 10px 10px 10px -3px #000000;
    font-size: 50%;
    text-align: center;
    border-radius: 20px 0 0 0;
}